.navBarComponent {
    width: 100%;
    padding-top: 0px;
    box-shadow: none;
    z-index: 9;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed !important;
    color: white;

    ul {
        padding: 0 20px;
        color: white;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;

        .navbar-nav {
            a {
                color: white;
                &:hover {
                    opacity: 0.6!important;
                }
            }
        }
    }
}