@font-face {
    font-family: RobotoSlab-Black;
    src: url(../assests/fonts/RobotoSlab-Black.ttf);
}

@font-face {
    font-family: RobotoSlab-Bold;
    src: url(../assests/fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: RobotoSlab-ExtraBold;
    src: url(../assests/fonts/RobotoSlab-ExtraBold.ttf);
}

@font-face {
    font-family:RobotoSlab-ExtraLight;
    src: url(../assests/fonts/RobotoSlab-ExtraLight.ttf);
}

@font-face {
    font-family:RobotoSlab-Light;
    src: url(../assests/fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: RobotoSlab-Medium;
    src: url(../assests/fonts/RobotoSlab-Medium.ttf);
}

@font-face {
    font-family:RobotoSlab-Regular;
    src: url(../assests/fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab-SemiBold;
    src: url(../assests/fonts/RobotoSlab-SemiBold.ttf);
}

@font-face {
    font-family:RobotoSlab-Thin;
    src: url(../assests/fonts/RobotoSlab-Thin.ttf);
}

