@import './fonts.scss';

//colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-blue-50:#DEF1FF;
$color-blue-200:#89B8E7;
$color-blue-600: #3A7DC1;
$color-blue-800-branded: #2B5A95;
$color-blue-900: #13386A;
$color-blue-action:#1674DF;
$color-yellow-500: #FFDE07;
$color-search: #4A7CBC;
$color-0: #FFFFFE;
$color-1: #FDFDFF;
$color-2:#00000029;
$color-3:#F0F0F5;
$color-4:#909090;
$color-5:#282D33;
$color-6:#707070;
$color-7:#FFC400;
$color-8:#AEB5B6;
$color-9: #CEC116;
$color-10:#53859F;
$color-11:#BABABA;
$color-12:#E0B100;
$color-13:#D9ECFF;
$color-14:#87B5E4;
$color-15:#2B3035;
$color-16:#333333;
$color-17:#C5C7C9;
$color-18:#0B1826;
$color-19:#0B1826;
$color-20:#2F8EB6;

$RobotoSlab-Black: RobotoSlab-Black;
$RobotoSlab-Bold: RobotoSlab-Bold;
$RobotoSlab-ExtraBold:RobotoSlab-ExtraBold;
$RobotoSlab-ExtraLight: RobotoSlab-ExtraLight;
$RobotoSlab-Light: RobotoSlab-Light;
$RobotoSlab-Medium: RobotoSlab-Medium;
$RobotoSlab-Regular: RobotoSlab-Regular;
$RobotoSlab-SemiBold: RobotoSlab-SemiBold;
$RobotoSlab-Thin: RobotoSlab-Thin;

$font-style-normal: normal;
$font-weight-normal: normal;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-20: 20px;
$character-spacing-0: 0px;
$line-spacing-16: 16px;
$line-spacing-28: 28px;
$line-spacing-32: 32px;
