.Experince {
    background: rgb(248, 251, 255);
    flex-direction: column;
    word-break: break-word;
    padding: 80px 0px;
    display: flex;
    overflow: hidden;

    .title {
        color: rgb(28, 28, 29);
        text-align: center;
        width: 100%;
        margin-bottom: 0px;
        font-weight: 700;
        font-size: 41.4px;
    }

    .description {
        color: rgb(66, 84, 117);
        text-align: center;
        width: 100%;
        line-height: 1.4;
        margin-top: 20px;
        font-weight: 400;
        font-size: 17.76px;
    }

    img {
        border-radius: 10px;
        width: 100%;
    }

    .education {
        .titleEducation {
            color: rgb(28, 28, 29);
            text-align: left;
            width: 100%;
            margin-bottom: 22px;
            font-weight: 800;
            font-size: 19.76px;
            
        }

        .descriptionEducation {
            color: rgb(66, 84, 117);
            text-align: left;
            line-height: 1.4;
            font-weight: 400;
            font-size: 17.76px;
        }

        .certificate {
            margin-right: 15px;
        }

        a{
            text-decoration: none;
            color: #6ddb9a
        }
    }
}